.iradio-wrap {
  display: inline-block;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: rgba(126, 126, 126, 0.19999999999999996);
  background: -moz-linear-gradient(top, rgba(126, 126, 126, 0.19999999999999996) 0%, rgba(208, 208, 208, 0.19999999999999996) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(126, 126, 126, 0.19999999999999996)), color-stop(100%, rgba(208, 208, 208, 0.19999999999999996)));
  background: -o-linear-gradient(top, rgba(126, 126, 126, 0.19999999999999996) 0%, rgba(208, 208, 208, 0.19999999999999996) 100%);
  -webkit-box-shadow: 0px 1px 0px #d0d0d0, 0px 2px 3px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0px 1px 0px #d0d0d0, 0px 2px 3px rgba(0, 0, 0, 0.3) inset;
  -o-shadow: 0px 1px 0px #d0d0d0, 0px 2px 3px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0px 1px 0px #d0d0d0, 0px 2px 3px rgba(0, 0, 0, 0.3) inset;
  border: 1px solid rgba(151, 151, 151, 0.4);
}
.iradio-wrap label {
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  color: #565656;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.iradio-wrap .knob {
  background: #f7f7f7;
  background: -moz-linear-gradient(top, #f7f7f7 0%, #c0c0c0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #c0c0c0));
  background: -o-linear-gradient(top, #f7f7f7 0%, #c0c0c0 100%);
  padding: 4px 9px;
  text-align: center;
  position: absolute;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  top: 0;
  border: 1px solid #868686;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}
.iradio-wrap .knob span {
  cursor: default;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.iradio-wrap .knob.ui-draggable-dragging, .iradio-wrap .knob:active {
  -webkit-box-shadow: 0px 1px 0px #d5d5d5 inset;
  -moz-box-shadow: 0px 1px 0px #d5d5d5 inset;
  -o-box-shadow: 0px 1px 0px #d5d5d5 inset;
  box-shadow: 0px 1px 0px #d5d5d5 inset;
  background: #c0c0c0;
  background: -moz-linear-gradient(top, #c0c0c0 0%, #d5d5d5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c0c0c0), color-stop(100%, #d5d5d5));
  background: -o-linear-gradient(top, #c0c0c0 0%, #d5d5d5 100%);
}
.iradio-wrap.iradio-vertical label {
  display: block;
}
